.hero{
    display: flex;
    align-items: center;
    font-weight: 100;
    grid-gap: 30px;
    .info {
        flex: 1 1 50%;
        .acerca{
            font-size: 24px;
        }
        .imgMobile{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 1rem;
            display: block;
            @include mostrar('xlarge'){
                display: none;
            }
        }
        p{
            max-width: 67ch;
        }
    }
    .img{
        text-align: right;
        position: relative;
        display: none;
        @include mostrar('xlarge'){
            display: block;
        }
        &:before{
            content: '';
            border: 8px solid #124559;
            width: 450px;
            height: 100%;
            position: absolute;
            right: 20px;
            border-radius: 10px;
            z-index: -1;
            top: 10px;
        }
        img{
            max-width: 450px;
            border-radius: 10px;
        }
    }
    .buttons{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        @include responsivo('medium'){
            flex-direction: row;
        }
    }
}
.cv{
    width: 100%;
    position: absolute;
    background-color: rgb(46 46 53 / 90%);
    backdrop-filter: blur(3px);
    max-height: 750px;
    top: -30px;
    padding: 20px;
    grid-gap: 40px;
    z-index: 2;
    border-radius: 20px;
    overflow-y: scroll;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.24);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.24);
    @include responsivo('large'){
        display: grid;
        grid-template-columns: calc(60% - 20px) calc(40% - 20px);
        padding: 50px;
    }
    h3{
        margin-top: 1.38rem;
    }
    strong{
        font-weight: 600;
    }
    .list li{
        background-color: $secundario;
        padding: 20px 30px;
        position: relative;
        border-left: 2px solid $verdeEnfasis;
        border-bottom: 1px solid rgba($texto, .18);
        &:last-child{
          border-bottom: 0;  
        }
        p{
            margin-bottom: 0;
            color: #B3B3B3;
        }
        a{
            color: #B3B3B3;
            text-decoration: underline;
        }

        &:before{
            content: '';
            position: absolute;
            top: 27px;
            left: 0;
            background-image: url('../assets/before-list.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 23px;
            height: 13px;
        }
    }
    .lenguajes{
        li{
            border-bottom: 0;
        }
        @include responsivo('large'){
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        }
    }
}
.progressBar{
    span{
        font-weight: 100 !important;
    }
}
.progressBar > div{
    border-radius: 0;
}