.skillsContenedor{
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 40px;
    @include responsivo('large'){
        flex-direction: row;
    }
    .profesional{flex-basis: 50%;}
    .personal{flex-basis: 50%;}
    h4{
        position: relative;
        margin-bottom: 3rem;
        &:before{
            content: '';
            background-color: $verdeEnfasis;
            height: 2px;
            width: 200px;
            position: absolute;
            bottom: -5px;
        }
    }
}
.skills{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px,1fr));
    grid-gap: 10px;
    @include responsivo('large'){
        grid-template-columns: repeat(auto-fill, minmax(140px,1fr));
    }
    img{
        margin-bottom: 1.25rem;
        max-height: 60px;
        filter: grayscale(1);
        transition: all .3s ease-in-out;
        &:hover{
            filter: grayscale(0);
        }
    }
}
.personal{
    p{
        max-width: 50ch;
    }
    li{
        display: flex;
        align-items: center;
        grid-gap: 10px;
        margin-bottom: 0;
        img{
            max-width: 20px;
            height: auto;
        }
    }
}
